* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* shared style */
 .font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
 } 
 
 .logo h2 {
    font-size: 45px;
    font-weight: 900px;

    }
    
.color-orange {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading {
    max-width:827px; ;
    text-align: center;

    
}
.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

  /* main style */
 header {
    background-color: #FFF8F3;
    background: url('../images/developer.png'), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;

    padding-top: 50px;
    
 }


nav {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
#banner {
  width: 95%;
  max-width: 1400px;
  margin: 60px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1 {
    font-size: 65px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;
}
#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30PX;
}
#banner .banner-image img {
    max-width: 350px;
    vertical-align: middle;
    
}
#about {
    padding-top: 130px;
}

#about .about-container {
    width: 95%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.about-info .info-card p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;

}
.about-info .info-card h4{
    font-size: 18px;
    color: #181818;
}